# created by virtualenv automatically

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs & runtime files
# =========================
*.log
logs/
*.sqlite3
*.db

# =========================
# PyCharm / IDE
# =========================
.idea/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Tests / coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# Docker (если появится)
# =========================
docker-compose.override.yml


